<head>
  <title>{{title}}</title>
  <link rel="shortcut icon" href="#">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  {{!-- JQuery CDN --}}
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>
  {{{body}}}

  <script src="/javascripts/scripts.js"></script>
</body>